<% Notification.pull(current_user).each do |notification| %>
	<% bid = notification.bid %>
	<% task = bid.task %>
	<% project = task.project %>
	<div class="well">
		<%= link_to "&times;".html_safe, notification_shown_path(:id => notification), :class => "close" %>
		<%= render :partial => "users/notifications/ntype#{notification.ntype}",
				:locals => {
				:notification => notification,
				:bid => bid,
				:task => task,
				:project => project
			} %>
	</div>
<% end %>