<div class="ym-grid">
	<div class="ym-g66 ym-gl">
		<div class="ym-gbox">
			<h3><%= @project.name %></h3>
			<h4>Project Description</h4>
			<div><%= @project.description %></div>
		</div>
	</div>
	<div class="ym-g33 ym-gr">
		<div class="ym-gbox">
			<div class="icon-box person">
				<h3><%= link_to User.find_by_id(@project.user_id).username, user_show_path(@project.user_id) %></h3>
				<span>Is your contact</span>
			</div>
			<div class="icon-box tasks">
				<h3>5</h3>
				<span>Tasks on this project</span>
			</div>
		</div>
	</div>
</div>